<%- include('./template/header'); -%>
<h1>Welcome to my Shop</h1><br><br>

<h2>Title</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sit accusantium tempore cupiditate ab repellat sequi
  exercitationem quisquam ipsum iste?</p><br><br>

<a href="/products">products</a>
<%- include('./template/footer'); -%>