<%- include("../template/header"); -%>
<h1>Create Product</h1>

<form action="" method="post">
  <label for="title">Title:</label><br>
  <input name="title" id="title" type="text"><br><br>
  <label for="description">Description:</label><br>
  <input id="description" name="description" type="text"><br><br>
  <label for="image">Image:</label><br>
  <input id="image" name="image" type="text"><br><br>
  <input type="submit" name="submit" value="send">
</form>

<%- include("../template/footer"); -%>